@model IEnumerable<Tarea1Cruds_LuisGonzalez.Models.DepartamentoViewModel>


<p>
    <a href="~/Departamento/Create" class="btn btn-primary"> Crear Departamento</a>
</p>
<h2>Lista de Departamentos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreDepartamento)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDepartamento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |         
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
